<div class="container">
  <h1><%= @restaurant.name %></h1>
  <h2><%= @restaurant.category.capitalize %></h2>
  <p><%= @restaurant.address.capitalize %></p>
  <p><%= @restaurant.phone_number %></p>

  <h2>Reviews</h2>
  <%= link_to "See all reviews", restaurant_reviews_path(@restaurant)  %>
  <%= link_to "Add a new review", new_restaurant_review_path(@restaurant) %>
</div>
